.git
.gitignore
.github
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
.env
.env.*
Dockerfile
README.md
tests
docs
.idea
.vscode
*.md
